@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900|Questrial|Rubik|Cinzel+Decorative&display=swap');
@import url('navigation.css');

body {
  margin: 0;
  background-color:whitesmoke;
  font-family: 'Rubik', sans-serif;
  color: #2F2F2F;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-header{
    background-image: url('/images/piscataqua_marina_fourth_of_july_fireworks.jpg');
    height:700px;
}

.shared-header-settings{
    position: relative;
    text-align: center;
    color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #064273;
    padding: 0;
}

header h1{
    font-family: 'Cinzel Decorative', cursive;
    color:whitesmoke;
    font-size: 50px;
}

.header-logo-placement{
    width:350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1;
}

.header-text-placement{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter:drop-shadow(3px 3px 3px #064273);
    z-index:2;

}





.icon-container{
    width:140px;
    text-align: center;
    transition: .5s;
}

.icon-container h4{
    font-family: 'Cinzel Decorative', cursive;

}

.link-icon{
    width: 100%;
    padding:20px;
    border-radius: 50%;
    background-color: rgba(244,164,96,.5);
}

.icon-container:hover, .icon-container:active {
    transform: scale(1.1);
}

.category-heading{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 40px;
    letter-spacing: 1px;
}

.weather-container iframe{

    width:300px;
    height:230px;
}

.home-page-btn{
    text-align: center;
    background-color: #3C6D78;
    border-radius: 10px;
    padding: 5px 7px;
    color:whitesmoke;
}

.home-page-btn:active{
    transform: translateY(4px) scale(.98);
}

.weather-widget-link{
    height: 20px;
    display: block;
    margin: -20px 0 0 0;
    text-indent: -9999em;
    position: relative;
    z-index: 1
}

.dark{
    background-color: #76b6c4;
}

.light{
    background-color: #B3F1FF;
}

.highlight-icon{
    border-radius: 50%;
    background: radial-gradient(circle, rgba(222,243,246,1) 0%, rgba(255,255,255,0) 70%);
    width:100%;
}

.map-container{
    background-color: rgb(6,66,115);
    }

.map-container iframe{
    display:block;
    width:300px;
    height:228px;
    filter: grayscale(80%) drop-shadow(0 -3px 3px #064273);
}

/*
=======
Footer Styling
=======
*/
footer{

    text-align: center;
    background-color: rgb(6,66,115);
}

footer h5{
    font-family: 'Questrial', sans-serif;
}

.footer-container{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
}
.footer-content-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content{
    text-align: left;
    color:lightgrey;
}

.footer-content p{
    margin:0;
}

.footer-content a {
    color:lightgrey;
}

/*
=======
Screen size breakpoints styling
=======
*/
@media only screen and (max-width: 1200px){
    .rate-explanation{
        width: 30%;
    }


}

@media only screen and (max-width: 1000px){
  /* Keeps layout looking ok as screen gets smaller */


  .rate-explanation{
      width: 100%;
  }

  #rates table{
      font-size: 20px;
  }

  .highlight{
      width: 290px;
      height: 250px;
  }

  #rates h2{
      text-align: center;
      margin-left:0;
  }
  .footer-content{
      display:flex;
      flex-flow: column wrap;
      align-items: center;
  }

  .footer-content-box{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
  }

}
