@import url('https://fonts.googleapis.com/css?family=Questrial|Rubik|Cinzel+Decorative:400,700&display=swap');
@import url('navigation.css');

body {
  margin: 0;
  background-color:#ecede7;
  font-family: 'Rubik', sans-serif;
  color: #2F2F2F;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.shared-header-settings{
    position: relative;
    text-align: center;
    color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #064273;
    padding: 0;
}

.home-header{
    background-image: url('/images/piscataqua_marina_fourth_of_july_fireworks.jpg');
    height:700px;
}

.explore-header{
    background-image: url('/images/billy-hayes-il8W_r4AeSM-unsplash.jpg');
    height:400px;
    background-attachment: local;
}
.rates-header{
    background-image: url('/images/jorge-vasconez-LCaKuYefLQk-unsplash.jpg');
    height:400px;
}

.contact-header{
    background-image: url('/images/patrick-konig-E_-yQcS6qm8-unsplash.jpg');
    height:400px;
    background-attachment: local;
}

header h1{
    font-family: 'Cinzel Decorative', cursive;
    color:#064273;
    font-size: 50px;
    filter:drop-shadow(4px 4px 2px dimgray);
    width:350px;
    font-weight:700;

}
header h1 span{
    line-height: 1.8;
}


.header-logo-placement{
    width:365px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1;
}

.header-text-placement{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:2;

}





.icon-container{
    width:140px;
    text-align: center;
    transition: .5s;
}

.icon-container h4{
    font-family: 'Cinzel Decorative', cursive;
    margin:8px 0 0 0;

}

.link-icon{
    width: 100%;
    padding:20px;
    border-radius: 50%;
    background-color: rgba(244,164,96,.5);
}

.icon-container:hover, .icon-container:active {
    transform: scale(1.1);
}

#badger-island-view{
    width:400px;
}

.home-item-image{
    width:100%;
}

.category-heading{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 40px;
    letter-spacing: 1px;
}

.weather-container iframe{

    width:300px;
    height:230px;
}

.home-page-btn{
    text-align: center;
    background-color: #3C6D78;
    border-radius: 10px;
    padding: 5px 7px;
    color:whitesmoke;
}

.home-page-btn:active{
    transform: translateY(4px) scale(.98);
}

.weather-widget-link{
    height: 20px;
    display: block;
    margin: -20px 0 0 0;
    text-indent: -9999em;
    position: relative;
    z-index: 1
}

.dark{
    background-color: #76b6c4;
}

.light{
    background-color: #B3F1FF;
}

.highlight-icon{
    border-radius: 50%;
    background: radial-gradient(circle, rgba(222,243,246,1) 0%, rgba(255,255,255,0) 70%);
    width:100%;
}

.map-container{
    background-color: rgb(6,66,115);
    }

.map-container iframe{
    display:block;
    width:300px;
    height:228px;
    filter: grayscale(80%) drop-shadow(0 -3px 3px #064273);
}

.map-container{
    background-color: rgb(6,66,115);
    }

.map-container iframe{
    filter: grayscale(80%) drop-shadow(0 -3px 3px #064273);
    border:0;
    width:100%;
    height:450px;
}

/*
=======
Explore Page
=======
*/

.explore-location{
    margin-top: 40px;
    width: 50%;
    border-bottom: 1px solid silver;
    font-family: 'Cinzel Decorative', cursive;
}

.explore-location-description{
    margin-top: 20px;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
}

.explore-item{
    border-radius: 10px;
    margin:10px;
    padding:10px;
    background-color: whitesmoke;
    filter:drop-shadow(2px 2px 4px dimgray);
    font-family: 'Questrial', sans-serif;
}

.explore-item h5{
    font-family: 'Cinzel Decorative', cursive;
}

.explore-item a{
    color:black;
    transform: scale(1);
    transition: .5s;
}

.explore-item a:hover{
    transform: scale(1.05);
    color: dimgray;
    filter:grayscale(50%);
    text-decoration: none;

}

.explore-item a:active{
    color: dimgray;
    filter:grayscale(50%);
    text-decoration: none;

}
.explore-item img{
    width:90%;
}

/*
=======
Rates Styling
=======
*/
.table{
    margin: 0 auto;
}
/*
=======
contact Styling
=======
*/
.contact-container img{
    width:20px;
}

.contact-container a{
    display:block;
}

/*
=======
Footer Styling
=======
*/
footer{

    text-align: center;
    background-color: rgb(6,66,115);
}

footer h5{
    font-family: 'Questrial', sans-serif;
}

.footer-container{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
}
.footer-content-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content{
    text-align: left;
    color:lightgrey;
}

.footer-content p{
    margin:0;
}

.footer-content a {
    color:lightgrey;
}



/*
=======
Screen size breakpoints styling
=======
*/

@media only screen and (max-width: 1025px){
  /* Keeps layout looking ok as screen gets smaller */

  #badger-island-view{
      width:100%;
  }

  .footer-content{
      display:flex;
      flex-flow: column wrap;
      align-items: center;
  }

  .footer-content-box{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
  }

}

@media only screen and (max-width: 767px){
    .home-header, .rates-header{
        background-attachment: local;
    }

    #badger-island-view, .home-item-image{
        width:370px;
    }


    .explore-item img{
        width:50%;
        margin-right:5%;
    }

    .contact-container img{
        width: 20px;
    }
}

@media only screen and (max-width: 600px){
    #badger-island-view, .home-item-image{
        width:100%;
    }
}
